# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# SQLite database
*.db
*.sqlite3

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Pydantic compiled files
*.pyd

# Logs and local config
*.log
*.env

# OS files
.DS_Store
Thumbs.db
